body {
    background-color: #6c757d;
    color: #000;
    font-family: Arial, sans-serif;
}

.text-black-bold {
    color: black;
    font-weight: bold;
}

.container {
    margin-top: 50px;
    text-align: center;
    background-color: #f0f0f0;
    font-size: 18px;
    padding: 20px;
    border-radius: 10px;
}

.space-bottom {
    margin-bottom: 20px;
}

h3, h4 {
    color: #007bff;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.table {
    background-color: #fff;
    color: #000;
    width: 100%;
}

.table th,
.table td {
    vertical-align: middle;
    text-align: left;
}

.form-control,
.form-control-sm {
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-control::placeholder,
.form-control-sm::placeholder {
    color: #999;
}

.form-row {
    margin-bottom: 10px;
}

.space-bottom {
    margin-bottom: 20px;
}

.space-bottom h4 {
    margin-bottom: 0;
}

.input-ancho {
    width: 100%;
}

.input-estrecho {
    width: 220px;
}